.app-button {
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;
}

.app-button--primary {
    background-color: #1976d2;
}

.app-button--primary:hover:not(:disabled) {
    background-color: #125aa0;
}


.app-button--secondary {
    background-color: #e0e0e0;
    color: #333;
}

.app-button--secondary:hover:not(:disabled) {
    background-color: #c7c7c7;
}


.app-button--danger {
    background-color: #d32f2f;
}

.app-button--danger:hover:not(:disabled) {
    background-color: #9a0007;
}


.app-button:disabled {
    background-color: #9e9e9e !important;
    cursor: not-allowed;
    color: #f5f5f5;
}